#jquery-container
  position absolute
  left 0
  top 0
  height 100%
  width 50%

  .flex
    height 100%
    width 100%
    display flex
    justify-content center
    align-items center

  .box
    width 193px
    height 193px
    background-color green
