.compare-container
  position absolute
  left 0
  top 0
  height 100%
  width 50%

  .flex
    height 100%
    width 100%
    display flex
    justify-content center
    align-items center

  .editor
    margin 0 20px 20px 20px
    height calc(100% - 300px - 20px)
    width calc(100% - 40px)

#jquery-container
  background-color #779

  .box
    width 170px
    height 170px
    background-color orange

#threejs-container
  background-color #977

  .box
    width 512px
    height 512px

#grimoirejs-container
  background-color #797
