#editor-container
  position absolute
  height calc(100% - 300px);
  width 100%
  top 310px

  .wrap
    position relative
    height 100%
    width 100%

    > div
      position absolute
      height calc(100% - 40px)
      width calc(100% - 80px)

    #xml-editor
      left 40px

    #js-editor
      left calc(100% + 40px)
