html, body
  margin 0
  padding 0
  height 100%
  width 100%

body
  background-color #f9efd5
  font-family 'Avenir', 'Noto Sans CJK JP'

#background
  position relative
  overflow hidden
  width 100%
  height 100%

  .container
    position absolute
    left 0
    top 0
    width 100%
    height 100%

#overlay
  position absolute
  left 0
  top 0
  height 100%
  width 100%

  .container
    position relative
    overflow hidden
    height 100%
    width 100%
    > *
      display none

.ace-tm
  background-color rgba(0, 0, 0, 0.03) !important

.ace_gutter
  background rgba(0, 0, 0, 0.15) !important

.ace_scrollbar
  transition 0.5s opacity
  opacity 0

.ace_editor:hover .ace_scrollbar
  opacity 1
