@import 'partials/editor'

// #model-container
//   editor()

//   height 90%
//   top 10%

//   .left
//     left 2%

//   .ace-tm
//     background-color rgba(255, 255, 255, 0.7) !important

//   .ace_editor
//     opacity 0.1
//     transition 0.5s opacity

//   .ace_editor:hover
//     opacity 1

#model-grimoire-container
  position absolute
  height 100%
  width 100%
  top 0
  left 0
  z-index 4
