.webgl-caption-container
  position absolute
  right 0
  top 0
  bottom 0
  left 0
  display none

  > div
    display flex
    justify-content space-around
    flex-direction column
    height 100%
    text-align center

    > p
      font-family Avenir
      font-size 15vh
      color white
      text-shadow 1px 1px 1px #000;
