@import 'partials/button'
@import 'partials/editor'

#world-container
  editor()

  .left
    left 2%

  .middle
    left 102%

  .right
    left 202%

  .rright
    left 302%

  .rrright
    left 402%
