@import 'partials/button'
@import 'partials/editor'

#world-container
  editor()

  .wrap
    .left
      left 2%
      height 133%
      top -35%
      background-color alpha(#f9efd5, 85%)

  .middle
    left 102%

  .right
    left 202%

  .rright
    left 302%
