button(color, inverse-color)
  padding 0.5% 2% 0.48%
  border solid 4px color
  border-radius 5%
  transition all 0.3s
  font-weight bold
  color color
  cursor pointer
  user-select none

  &:hover
    background-color color
    color inverse-color

  &:active
    opacity 0.8
