@import 'button'

editor()
  position absolute
  height 67%
  width 100%
  top 33%

  .label
    position absolute
    bottom 102%
    right 0
    font-size 3vh
    color #f9efd5
    padding 0.8% 3% 0.6%
    background-color #d23881
    box-shadow 0 2px 10px 0 rgba(0, 0, 0, 0.7)
    font-weight bold

  .run
    position absolute
    bottom 102%

    button(#381794, #f9efd5)
    font-size 2vh

  .wrap
    position relative
    height 100%
    width 100%

    > div
      position absolute
      height 98%
      width 96%

    .editor
      height 100%
      width 100%
